.validating-form
  .form-heading
    Change your password
  = simple_form_for(resource, as: resource_name, url: update_password_dashboard_users_path,
    html: { method: :put }) do |f|
    = f.input :reset_password_token, as: :hidden
    .row.form-group
      .col-xs-3
        = f.input :current_password, label: false, as: :password, required: true,placeholder: "Current password"
      .col-xs-3
        = f.input :password, label: false, as: :password, required: true, :placeholder => "New password"
      .col-xs-3
        = f.input :password_confirmation, label: false, as: :password, required: true, :placeholder => "Confirm your new password"
      .col-xs-3
        .form-actions.clearfix
          = f.button :submit, "Change password"
