:ruby
  set_meta_tags og: {
    title: shortik(@content.description, 100),
    image: @content.image.url(:full)
  }

.content.content-full.story{'data-content-id' => @content.id}
  .text-center
    %time
      = posted_time @content

  .content-body
    .content-image
      = image_tag(@content.image.url(:full))
    .content-text
      = auto_link(title pure_text(content.description))

    = render partial: 'author_info', locals: { user: @content.user }

  .content-footer.clearfix
    = render partial: 'dashboard/contents/actions', locals: { content: @content }
    = render partial: 'dashboard/contents/tags', locals: { content: @content }

  = render partial: 'dashboard/contents/card_comments', locals: { content: @content }

= render partial: 'recommended_stories', locals: { recommended_stories: @recommended_stories }
