.content.status{'data-content-id' => content.id}
  = render partial: 'dashboard/contents/shared_by', locals: { content: content }

  .content-header
    .media
      = link_to dashboard_profile_path(content.user), class: 'media-left' do
        = show_avatar(content.user, "thumb")

      .media-body
        .media-heading
          = link_to content.user.full_name, dashboard_profile_path(content.user), class: 'content-author'

          %time
            = posted_time content

          - if can?(:edit, content)
            .controls
              %a{:href => '/', :class => "content-control-item edit-#{content.id}"}
                %span.glyphicon.glyphicon-pencil
                Edit
              = link_to dashboard_content_path(content), method: :delete, remote: true,  class: 'content-control-item', data: { confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash
                Delete

  .content-body
    .status-content-text
      - if can?(:edit, content)
        %span.best_in_place.status_in_place{"data-bip-activator" => ".edit-#{content.id}", "data-bip-attribute" => "description", "data-bip-object" => "content", "data-bip-original-content" => content.description, "data-bip-skip-blur" => "false", "data-bip-type" => "textarea", "data-bip-url" => dashboard_content_path(content), "data-bip-value" => content.description, "data-bip-html-attrs" => '{"maxlength":150}'}
          = auto_link(pure_text(content.description))
      - else
        = link_to sanitized_preview(content.description), dashboard_content_path(content), class: 'status-link'

  .content-footer.clearfix
    = render partial: 'dashboard/contents/actions', locals: { content: content }
    = render partial: 'dashboard/contents/tags', locals: { content: content }


  = render partial: 'dashboard/contents/card_comments', locals: { content: content }
