%ul.nav.nav-pills
  %li
    = link_to "Overview", admin_home_index_path
  %li
    = link_to "Reports", admin_reports_path
  %li
    = link_to "Feedbacks", admin_feedbacks_path
  %li
    = link_to "Inactive users", inactive_admin_users_path
  %li
    = link_to "Banned users", banned_admin_users_path
  %li
    = link_to "Barred Words", admin_words_path
  %li
    = link_to "Mentors", admin_mentors_path
  %li
    = link_to "Daily Stories", admin_stories_path
